<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ymj.campuscanvas.mapper.CommentMapper">
    <select id="selectCommentsByPostId" resultType="com.ymj.campuscanvas.pojo.Comment">
        SELECT
            id,
            user_id,
            post_id,
            content,
            created_time
        FROM
            comment
        WHERE
            post_id = #{postId}
        ORDER BY
            created_time DESC
    </select>
</mapper>
