<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ymj.campuscanvas.mapper.PostMapper">
    <update id="updatePost" parameterType="com.ymj.campuscanvas.pojo.Post">
        UPDATE post
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectPostsByPostIds" resultType="com.ymj.campuscanvas.pojo.Post">
        SELECT *
        FROM post
        WHERE id IN
        <foreach collection="postIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectHotPosts" resultType="com.ymj.campuscanvas.pojo.Post">
        SELECT
            p.id,
            p.user_id,
            p.title,
            p.content,
            p.image_urls,
            p.created_time,
            p.view_count,
            <!-- 计算热度值 = 点赞数*0.6 + 浏览量*0.4 -->
            (COALESCE(l.like_count, 0) * 0.6 + p.view_count * 0.4) AS hot_score
        FROM
            post p
        LEFT JOIN (
            SELECT
            target_id AS post_id,
            COUNT(*) AS like_count
            FROM
            `like_post`
            WHERE created_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
            GROUP BY
            target_id
        ) l ON p.id = l.post_id
        WHERE
            p.created_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
        ORDER BY
            hot_score DESC
    </select>
</mapper>
